body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(photo/edenba.png);
    font-weight: bold;
}
 p {
    width: 690px; height: 600px;
     color: black; font-size: 17px;
      font-family: Inter; 
      font-weight: 400; 
      word-wrap: break-word;
       padding-right: 500px;
 }
 h1{
   font-size: 30px;
   text-align: center;
   
 }